{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@app/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
