{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderBuiltinModulesToTop": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
