.card-container {
  position: relative;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 200px;
  padding: 0.5rem;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.card-container--flipped .card-front {
  transform: rotateY(0deg);
}

.card-back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.card-container--flipped .card-back {
  transform: rotateY(90deg);
  transition: 0s;
}
